
:root{
  --color-azul: #0b7c7e;
  --color-amarelo: #ffd700;
  --color-azul2: #086668;
  --color-azul3: #045152;
}

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-azul);
  color: #fff;
}
.head{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-azul2);
  box-shadow: 2px 2px 5px var(--color-azul3);
  height: 6.8em;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: groove #067476;
  background-color: #086668;
  border-radius: 20px;
  margin: auto;
  margin-top: 8%;
  padding: 30px 10px;
  width: 23%;
  box-shadow: 2px 2px 2px 4px var(--color-azul3);
}
button{
  border: groove;
  width: 120px;
  border-radius: 10px;
  height: 46px;
  margin-bottom: 5px;
  margin-left: 45%;
  background-color: #000000;
  color: #fff;
}
button:hover{
  transition: 0.5s;
  font-weight: bold;
}